*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: white;
}
/*Components*/
.button{
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 6px;
    border-width: 1px;
    color: #363636;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    height: 40px;
}
.box-card-menu{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(95, 95, 99, 0.6);
    margin-bottom: 1rem;
}
.card{
    margin: .7rem;
    width: 26%;
    background-color: white;
    border-radius: 0.25rem;
}

.button.btn-active{
    background-color: blue;
    border-color: transparent;
    color: #fff;
}
/*Styles Menu-Card*/
.box-card-menu .menu-bar{
    background-color: #E1E9E6;
    border-bottom: 1px solid rgba(86, 86, 87, 0.6);
}

.box-card-menu .body-menu{
    background-color: white;
    height: 200px;
}
.box-card-menu .body-menu a{
   color: white;
}

.box-card-menu .menu-bar li{
    display: inline-block;
    margin-right: 15px;
    list-style: none;
}

/*Styles Cards*/
.box-cards .card-blue{
    border: 1px solid rgba(8, 11, 168, 0.6); 
}
.box-cards .card-gray{
    border: 1px solid rgba(95, 95, 99, 0.6); 
}
.box-cards .card-red{
    border: 1px solid rgba(201, 8, 8, 0.6);
}
.box-cards .header-card{
    padding: 1rem;
    margin-bottom: 0;
    background-color: rgba(131, 127, 127, 0.3);
    border-bottom: 1px solid rgba(114, 112, 112, 0.3);
}
.box-cards .body-card{
    padding: 1.25rem;
}
/*Hover*/
.box-card-menu .menu-bar a:hover{
    color:pink;
}
.box-card-menu .body-menu a:hover{
    color: pink;
 }

/*Generic Class*/
.dp-flex{
    display: flex;
}
.pos-relative{
    position: relative;
}
.direction-column{
    flex-direction: column;
}
.justify-content-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}

/*Titles*/
.title-h2{
    font-size: 40px;
}
.title-p{
    font-size: 20px;
}
a{
    text-decoration:none;
}
.title-header{
    opacity: .6;
    font-size: .9rem;
}
.title-h2{
    font-size: 1.5rem;
}
.title-p{
    font-size: 0.8rem;
}
.font-red{
    color: rgba(201, 8, 8);
}
.font-blue{
    color:rgba(8, 11, 168);
}
.font-gray{
    color:rgba(95, 95, 99);
}