<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
  <h1>TOP MEJORES 3 ANIMES DEL 2020</h1>
  <div class="box-note">
  <ul>
    <li>
      <div class="item">
        <h2>ONE PIECE</h2>
        <h3>shonen</h3>
        <img src="C:\Users\rosym\Desktop\Work Space Web\img\1.jpg" alt="img-one" height="350px">
        <p>One Piece es uno de los mejores animes shonen que he visto, en lo personal me encanta
          mucho el desarrollo que los personajes han tenido a lo largo de todo el anime.
        </p>
       </div>
    </li>
    <li>
      <div class="item">
        <h2>KIMETSU NO YAIBA</h2>
        <h3>shonen</h3>
        <img src="C:\Users\rosym\Desktop\Work Space Web\img\1.jpg" alt="img-kimetsu" height="350px">
        <p>Kimetsu No Yaiba es un anime corto, pero eso no le impide envolverte con la trama y momentos de accion
            que cuenta su historia! el protagonista se llama tanjiro, es de los mejores protas de anime.
        </p>
       </div>
    </li>
    <li>
      <div class="item">
        <h2>BLACK CLOVER</h2>
        <h3>shonen</h3>
        <img src="C:\Users\rosym\Desktop\Work Space Web\img\1.jpg" alt="img-black" height="350px">
        <p>Black Clover es un anime bastante nuevo, y a pesar del mal pronostico que le daban los criticos
           del anime, se logro posicionar como uno de los mejores 10 animes.
        </p>
       </div>
    </li>
    </ul>
    </div>
  </div>
</body>
</html>
