<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:/Users/rosym/Desktop/Work Space Web/css/style.css">
    <title>Botonesmjnm</title>
</head>
<body>
    <!----------Buttons Light-Dark----------->
  <div>
    <h2>Botones Light-Dark</h2>
    <button class="button btn-white">blanco</button>
    <button class="button btn-light">light</button>
    <button class=" button btn-dark">dark</button>
    <button class="button btn-black">black</button>
    <button class="button btn-dark">gosth</button>
   </div>
      <!----------Buttons Colors----------->
   <div>
     <h2>Botones Colores</h2>
     <button class="button btn-primary">primary</button>
     <button class="button btn-link">link</button>
     <button class="button btn-info">info</button>
     <button class="button btn-success">succes</button>
     <button class="button btn-warning">warning</button>
     <button class="button btn-danger">danger</button>
    </div>
      
      <!----------Buttons Light----------->
    <div class="box-buttons">
      <h2>Botones light</h2>
      <button class="button btn-primary btn-light">Primary</button>
      <button class="button btn-link btn-light">Link</button>
      <button class="button btn-info btn-light">Info</button>
      <button class="button btn-success btn-light">Success</button>
      <button class="button btn-warning btn-light">Warning</button>
      <button class="button btn-danger btn-light">Danger</button>
    </div>

            <!----------Buttons Span----------->
    <div class="box-buttons-span">
      <h2>Botones Span</h2>
      <span class="button btn-primary btn-light">Primary</span>
      <span class="button btn-link btn-light">Link</span>
      <span class="button btn-info btn-light">Info</span>
      <span class="button btn-success btn-light">Success</span>
      <span class="button btn-warning btn-light">Warning</span>
      <span class="button btn-danger btn-light">Danger</span>
    </div>
      
      <!----------Buttons Size----------->
    <div>
      <h2>Botones Tamaño</h2>
      <button class="button btn-small">small</button>
      <button class="button btn-default">default</button>
      <button class="button btn-normal">normal</button>
      <button class="button btn-medium">medium</button>
      <button class="button btn-large">large</button>
    </div>
    <div class="bg-red bg-green"></div>
</body>
</html>