<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:/Users/rosym/Desktop/Work Space Web/css/styleCard.css">
    <title>Cards</title>
</head>
<body>
    <div class="box-cards dp-flex justify-content-center">
      <div class="card card-blue">
          <div class="header-card">
              <h3 class="title-header">Header</h3>
          </div>
          <div class="body-card">
              <h2 class="title-h2">Primary Card Title</h2>
              <p class="title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque exercitationem minus sint. Sed nam laudantium aspernatur reiciendis, sunt ut, voluptate suscipit sapiente praesentium debitis harum, consectetur atque quisquam dolor ipsa!</p>
          </div>
      </div>
      <div class="card card-gray">
        <div class="header-card">
            <h3 class="title-header">Header</h3>
        </div>
        <div class="body-card">
            <h2 class="title-h2">Primary Card Title</h2>
            <p class="title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque exercitationem minus sint. Sed nam laudantium aspernatur reiciendis, sunt ut, voluptate suscipit sapiente praesentium debitis harum, consectetur atque quisquam dolor ipsa!</p>
        </div>
      </div>
      <div class="card card-red">
        <div class="header-card">
            <h3 class="title-header">Header</h3>
        </div>
        <div class="body-card">
            <h2 class="title-h2">Primary Card Title</h2>
            <p class="title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque exercitationem minus sint. Sed nam laudantium aspernatur reiciendis, sunt ut, voluptate suscipit sapiente praesentium debitis harum, consectetur atque quisquam dolor ipsa!</p>
        </div>
      </div>

    </div>
    
</body>
</html>