<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:/Users/rosym/Desktop/Work Space Web/css/style.css">
    <title>PD</title>
</head>

<body>
    <section class="top">
        <div class="box_nav">
            <nav class="navbar justify_content_between">
                <div class="logo_navbar round_image"></div>
                <div class="items_navbar">
                    <ul>
                        <li>Inicio</li>
                        <li>Buscar</li>
                        <li>Genero</li>
                        <li>Top</li>
                        <li>yo</li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <section class="middle">
        <div class="box-cover dp-flex justify-content-center">
            <div class="items-box-cover">
                <h1>PD SHOP</h1>
            </div>
        </div>
    </section>
    <section class="bottom">

    </section>

</body>

</html>